html,
body {
    padding: 0;
    margin: 0;
    background-color: #eeeeee;
}

.rs-col {
    height: 100%;
    display: flex;
    align-items: stretch;
}

.handler {
    width: 10px;
    /* background-color: #eee; */
}


.handler:hover {
    cursor: ew-resize;
}

.handler-vertical:hover {
    cursor: ns-resize;
}

.rounded-container {
    background-color: white;
    padding: 5px;
    margin: 5px;
    height: 100%;
    border-radius: .25rem;
}

.resize-container {
    height: 100vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
    justify-items: stretch;
}

.monaco-editor {
    border-radius: .25rem;
}

.tab {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms;
    transition-property: background-color;
    border-radius: .25rem .25rem 0 0;
    border: #ccc 1px solid;
    border-bottom: none;
    margin-top: 5px;
    margin-right: 5px;
    padding: 0 5px 0 5px;
    background-color: #eee;
    flex-flow: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

.tab:hover {
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 1000ms;
    background-color: rgb(226, 226, 226);
}

.tab-active {
    margin-bottom: -1px !important;
    background-color: white !important;
}

div#loading {
    height: 100vh;
    width: 100vw;

    text-align: center;
    padding-top: 50px;

    position: fixed;
    z-index: 100000;
    background-color: #eee;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinning {
    transform: translate(-50%, -50%); 
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.inner-handle {
    height: 33px;
    border-bottom: #cccccc 1px solid;
    color: #4a4a4b !important;
    background-color: #f9f9fa;
}

.subheader {
    border-bottom: 1px #cccccc solid;
    background-color: #f9f9fa;
    height: 33px;
    overflow: hidden;
}

.subheader-border-top {
    border-top:#cccccc 1px solid;
}

@media (prefers-color-scheme: dark) {
    .bg-white {
        background-color: #1e1e1e !important;
        color: #F0F0F0;
    }

    #output,
    .tree-item-text
     {
        color:#eee;
        opacity: 1;
    }

    .tree-item-text:hover {
        opacity: 0.8;
    }

    .handler {
        background-color: #4a4a4b;
    }

    .inner-handle {
        background-color: #38383d;
        border-color: black;
    }

    .subheader {
        background-color: #38383d;
        border-color: black;
        color: white;
    }

    .subheader-border-top {
        border-top: black 1px solid;
    }

    .tab {
        background-color: #4a4a4b;
        border-color: #1e1e1e;
    }

    .tab:hover {
        background-color: #7a7a7a;
    }

    .tab-active {
        background-color: #1e1e1e !important;
    }

    div#loading {
        background-color: #38383d;
        color: white;
    }
}

.bg-black {
    background-color: black !important;
    color: #ccc;
}

.bg-darker {
    background-color: #1e1e1e;
    color: #ccc;
}

.subheader-title {
    user-select: none;
    cursor: ns-resize;
}
